<?xml version="1.0" encoding="UTF-8"?>
<page version="1.0">
  <div>
    <%= @h['LOGIN_GREETING'] %> <%= @firstname%><br/>
    <%= @message %>
  </div>
<div protocol="ussd">
    <input navigationId="form" title="<%= @h['LOGIN_PASSWORD'] %>" name="password"/>

</div>
    <navigation id="form" protocol="ussd">
    <link pageId="login.xml?ssid=<%= @sess_id %>"></link>
    </navigation>




</page>

