<%= form_tag(:controller => 'transactions', :action => 'transfer', :method => :post) do |f| %>
<p><%= label_tag :phone_number %><%= text_field_tag :phone_number %></p>
<p><%= label_tag :amount %><%= text_field_tag :amount %></p>
<p><%= submit_tag 'Send' %></p>
<% end %>

<%= link_to 'Back', root_url %>